{% extends 'base.html' %} {% load static %} {% block main %}

<div class="columns is-fullheight" style="min-height: 100vh">
  <div class="column is-one-third">
    <div class="user-signature">Signed in as: {{ user.username }}</div>
    <button
      class="button logout-button is-fullwidth"
      onclick="location.href = 'logout/'"
    >
      Log out
    </button>
    <div class="buttons has-addons mode-selector">
      <button class="button half">Messages</button>
      <button class="button half">Users</button>
    </div>
    <div id="user-list" class="panel">{# Users go here #}</div>
  </div>
  <div class="column is-two-thirds" id="chat-column">
    <div
      class="panel panel-info is-fullheight"
      style="
        height: 100vh;
        margin-bottom: -30px;
        z-index: 1;
        background-color: #f9f8ff;
      "
    >
      <div id="chat-overlay" class="chat-hider"></div>
      <div class="panel-heading chat-title">
        <h4 class="panel-title" id="chat-name">Chat</h4>
      </div>
      <div>
        <ul id="messages" class="messages" style="min-height: 80vh">
          {# Messages go here #}
        </ul>
      </div>
      <div class="panel-footer message-form-background">
        <div class="field has-addons">
          <p class="control is-expanded message-input">
            <input
              id="chat-input"
              type="text"
              class="input"
              placeholder="Type your message here ..."
              maxlength="500"
            />
          </p>
          <p class="control message-button">
            <button class="button button-send" id="btn-send">
              <i class="fa fa-paper-plane"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let sessionKey = "{{ request.session.session_key }}";
  let currentUser = "{{ request.user.username }}";
</script>
<script src="{% static 'js/app.js' %}"></script>

{% endblock %}
