.titanic {
  float: none;
}

.messages {
  position: relative;
  padding: 10px 10px 0 10px;
  margin: 0 0 0 0;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f9f8ff;
}

.user-signature {
  margin-top: 15px;
  margin-left: 15px;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.outer {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.signup-submit {
  margin-top: 15px;
}

.vertical-center {
  max-width: 300px;
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.users-heading {
  background-color: white;
}

.logout-button {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  min-width: 100%;
  background-color: #ff9800;
  color: white;
}

.is-highlighted {
  background-color: #ece5ff;
}

.chat-title {
  border-radius: 0px;
  background-color: white;
}

#user-list {
  min-width: 100vw;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: -12px;
  top: 0;
  border-top: 20px solid white;
  border-radius: 3px;
}

.me {
  left: auto;
  right: -12px;
  border-top: 20px solid #ece5ff;
}

.half {
  min-width: 50%;
}

.message-input {
  margin-top: 15px;
  margin-left: 15px;
}

.message-button {
  margin-top: 15px;
  margin-right: 15px;
}

.chat-hider {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.message-form-background {
  background-color: #f9f8ff;
}

.button-send {
  background-color: white;
  color: #ece5ff;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #f9f8ff;
}

.messages .message.left .text_wrapper {
  background-color: white;
  margin-left: 20px;
}

.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: white;
}

.messages .message.left .text {
  color: black;
}

.messages .message.right .text_wrapper {
  background-color: #ece5ff;
  margin-right: 20px;
  float: right;
}

.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #ece5ff;
}

.messages .message.right .text {
  color: black;
}

.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: white;
  padding-top: 18px;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  max-width: 450px;
  min-width: 100px;
  position: relative;
}

.mode-selector {
  margin-left: 15px;
  min-width: 100%;
}

/* .messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
} */

.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

html {
  height: 100%;
  overflow: hidden;
}
body {
  min-height: 100vh;
}
