{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Chat Application" />
    <title>ChatRoom</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/15181efa86.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

    {% block head %} {% endblock %}
  </head>
  <body>
    {% block main %} {% endblock %}
  </body>
</html>
